# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Data files (optional)
# Uncomment below if you don't want to upload dataset
# data/*.csv

# Outputs (optional)
# outputs/*.png